body {
    padding:50px;
    background-color: red;
}

.nav justify-content-end{
    padding:50px;
}

.card{
    padding:50px;
}

#hero-pic{
    height:90px;
    width: 90px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.container-fluid py-5{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}