@font-face {
    font-family: "Outward";
    src:url('fonts/outward-block-webfont.woff2')
      format('woff2'),
        url('fonts/outward-block-webfont.woff') 
      format('woff'),
        url('fonts/outward-block.ttf'),
      format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Lora";
    src: url('fonts/Lora-SemiBoldItalic.ttf')
    format('truetype');
  }
  
  @font-face {
    font-family: "Inter";
    src: url('Fonts/inter.ttc;')
    format('trueType-collection');
  }

  @font-face {
    font-family:"Space Grotesk";
    src: url('Fonts\SpaceGrotesk-Bold.ttf')
    format('trueType-collection');
  }
  

body {
    padding:50px;
    background-color: #EFDC8F;
    font-family: "Lora";
}

h2  {
 font-family: "Inter";
 padding-top: 3%;
}


p {
    font-family: "Lora";
}

.nav justify-content-end{
    padding:50px;
}

.card{
    padding:50px;
    margin-bottom: 20px;
}

.p-5 mb-4 bg-body-tertiary rounded-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FCDDC1;
}

.hero-splash{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

#hero-pic{
    height:45%;
    width: 45%;
}

.container-fluid py-5{
    display:flex;
    flex-direction: column;
    justify-content: left;
}


#nav-text{
    font-family: "Space Grotesk";
    font-size: 100%;
}

#card{
  background-color: #FCDDC1;
}

#card-text{
  color: #740E00;
}


.background{
    background-color: #2A1818;
    height:100%;
    width:110%;
    margin-left: -5%;
    justify-content: center;
    padding: 5%;
}

h-100, p-5, bg-body-tertiary, border, rounded-3{
  background-color: #FCDDC1;
}

.border{
  border-color: #a24d14;
}

.page-container{
    justify-content: center;
}

.row align-items-md-stretch{
    justify-content: center;
}